@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #f6f6f6;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
nav{
    height: 20px;
    padding: 10px;
    background-color: black;
    text-align: center;
    font-weight: bold;
}
nav a{
    color: #f6f6f6;
    text-decoration: none;
    padding: 15px;
}
nav a:hover{
    transition: 0.5s;
    color: #BF2441;
}
main{
    background-image: url(imagens/background-red.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
}
main h1{
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 200px;
}
#pilotos, #circuitos{
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.ayrton-senna, .seb-vettel{
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
}
.ayrton-senna:hover .flip, .seb-vettel:hover .flip{
    transform: rotateY(180deg);
}
.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.8s;
}
.front-senna, .back-senna, .front-vettel, .back-vettel{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.444);
    backface-visibility: hidden; /* Para ocultar o item até o Hover vir*/
}
.front-senna{
    background-image: url(imagens/senna-flip.jpg);
}
.back-senna{
    background-image: url(imagens/senna-flip-back.jpg);
    transform: rotateY(180deg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.front-vettel{
    background-image: url(imagens/sebvettel-flip.jpg);
}
.back-vettel{
    background-image: url(imagens/sebvettel-flip-back.jpg);
    transform: rotateY(180deg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ayrton-senna h2, .seb-vettel h2{
    font-size: 18px;
}


.circuito-silverstone{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 15px;
}

.circuito-silverstone:hover .flip{
    transform: rotateY(180deg);
}
.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.8s;
}

.front-silverstone, .back-silverstone{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.444);
    backface-visibility: hidden; /* Para ocultar o item até o Hover vir*/
}


.front-silverstone{
    background-image: url(imagens/banderia-grabretanha.jpg);
    background-position: center;
}
.back-silverstone{
    background-image: url(imagens/circuit-silverstone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    color: #BF0413;
    display: flex;
    align-items: center;
    justify-content: center;
}



footer{
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: white;
    height: 35px;
}

footer p{
    text-align: center;
    justify-content: center;
    color: black;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
}
footer a {
    text-decoration: none;
    color: red;
}
